* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.btn {
    padding: 14px 18px;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-weight: 500;
    
}

.des {
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.title {
    color: #333;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.crow{
    width: 80%;
    /* margin: 20px; */
    padding: 30px;
}
.texts{
    margin: 20px;
    padding: 10px;
}
.not-found{
    padding: 30px;
    font-weight: 700;
}
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
    }
    
}